* {
  padding: 0;
  margin: 0;
  font-family: "poppins", Times, serif;
}
html {
  scroll-behavior: smooth;
}
header {
  background: linear-gradient(rgb(51, 205, 51), rgb(51, 51, 236), green);
}
.header {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.desktop-nav-bar {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.logo img {
  width: 50px;
}
.logo h2 {
  color: white;
  position: relative;
  top: 10px;
}
.fa-bars {
  color: green;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 21px;
  border-radius: 5px;
}
.fa-times {
  color: green;
  font-weight: bold;
  font-size: 21px;
  position: absolute;
  right: 32px;
  top: 10px;
}
.nav-bar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 80px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-2000px);
  z-index: 6;
}
.nav-bar ul {
  margin: 30px;
}
.nav-bar li {
  list-style-type: none;
  padding: 10px;
}
.nav-bar a {
  color: rgb(24, 198, 24);
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-bar a:hover {
  text-decoration: underline;
}
.hero {
  color: white;
  padding: 20px;
  margin-top: 40px;
}
.hero h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.hero p {
  margin-bottom: 20px;
}
.hero a {
  display: block;
  color: green;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  font-weight: bold;
  width: 40%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.hero a:hover {
  color: white;
  box-shadow: inset 2px 1px 2px 25px blue;
}
.intro-text {
  color: green;
}
.welcome-text {
  padding: 20px;
}
.welcome-content img {
  width: 100%;
  object-fit: contain;
}
.welcome-text h3,
h2,
p {
  margin-bottom: 20px;
}
.welcome-rate li {
  list-style-type: none;
  padding: 10px;
}
.welcome-rate i {
  background-color: green;
  color: white;
  padding: 2px;
  font-size: 12px;
  border-radius: 200px;
}
.section {
  margin-top: 30px;
}
.get-started-content {
  padding: 20px;
}
.get-started-content h3,
h2,
p,
a {
  margin-bottom: 20px;
}
.get-started-content a {
  display: block;
  color: white;
  text-decoration: none;
  background-color: green;
  padding: 10px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.get-started-content a:hover {
  color: white;
  box-shadow: inset 2px 1px 2px 25px blue;
}
.img {
  margin-bottom: -30px;
  margin-top: -20px;
}
.get-started img {
  width: 100%;
  object-fit: contain;
}
.exchanges {
  text-align: center;
  margin-bottom: 20px;
}
.exchanges i {
  margin-bottom: 10px;
  width: 20px;
}
.exchanges a {
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
}
.exchanges a:hover {
  color: blue;
}
.exchanges .fa-bitcoin-sign {
  background-color: rgb(245, 200, 51);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 21px;
  border-radius: 8px;
}
.exchanges .fa-dollar {
  background-color: rgb(48, 210, 48);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 21px;
  border-radius: 8px;
}
.exchanges .fa-paypal {
  background-color: blue;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 21px;
  border-radius: 8px;
}
.exchanges .fa-wallet {
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 21px;
  border-radius: 8px;
}

.contact-content {
  padding: 20px;
}
.contact-content p,
h2,
h3 {
  margin-bottom: 20px;
}

.contact-content a {
  display: block;
  color: white;
  text-decoration: none;
  background-color: green;
  padding: 10px;
  font-weight: bold;
  width: 37%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  transition: all 0.3s ease;
}
.contact-content a:hover {
  color: white;
  box-shadow: inset 2px 1px 2px 25px blue;
}
.get-in-touch {
  display: block;
}
img {
  width: 100%;
}
.contact-form {
  margin: auto;
  width: 80%;
  padding: 0;
}
.contact-form h3 {
  text-align: center;
}
.contact-form input {
  padding: 8px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
  font-family: "poppins", Times, serif;
}
.contact-form textarea {
  height: 200px;
  padding: 8px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
}
.contact-form button {
  outline: none;
  display: block;
  color: white;
  text-decoration: none;
  background-color: green;
  padding: 10px;
  font-weight: bold;
  width: 37%;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin: 20px auto 80px;
  transition: all 0.3s ease;
}
.contact-form button:hover {
  color: white;
  box-shadow: inset 2px 1px 2px 25px blue;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: green;
  margin-top: 20px;
  color: white;
  padding: 30px 0 20px 0;
}
.footer-content ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.footer-content li {
  list-style-type: none;
}
.footer-content a {
  text-decoration: none;
}
.footer-content i {
  background-color: white;
  color: green;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
  transition: all .3s ease;
}
.footer-content i:hover{
  color: white;
  box-shadow: inset 2px 1px 2px 25px blue;
}

@media screen and (min-width: 840px) {
  .welcome-content {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .img {
    width: 50%;
  }
  .welcome-text {
    width: 50%;
  }
  .get-started-content {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  .get-started-text {
    width: 50%;
  }
  .exchange-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 20px;
  }
  .nav-bar {
    display: none;
  }
  .fa-bars {
    display: none;
  }
  .fa-times {
    display: none;
  }
  .header {
    width: 90%;
    margin: auto;
  }
  .desktop-nav-bar {
    display: block;
  }
  .desktop-nav-bar ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .desktop-nav-bar li {
    list-style-type: none;
  }
  .desktop-nav-bar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .desktop-nav-bar a:hover {
    color: blue;
  }
  .hero {
    width: 90%;
    margin: auto;
  }
  .hero h1 {
    margin-top: 100px;
    font-size: 70px;
    width: 70%;
  }
  .hero p {
    width: 50%;
  }
  .hero a {
    width: 20%;
  }
  .contact-text {
    width: 80%;
    margin: auto;
  }
  .get-in-touch {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }
  .getintouch-text {
    width: 50%;
  }
  img {
    width: 50%;
  }
  .img img {
    width: 100%;
    object-fit: contain;
  }
}
